<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduaction.dao.mapper.AnalizedMessageMapper">

    <!--<select id="listAll" resultType="cn.qianying.graduaction.domain.AnalizedMessage">
        select * from tb_analized_message
    </select>

    <insert id="addRecord"  parameterType="cn.qianying.graduaction.domain.AnalizedMessage">
         insert into tb_analized_message values(date_format(Now(),'%Y%m%d%H%i%s'),#{username,jdbcType=CHAR},#{age,jdbcType=CHAR},#{gender,jdbcType=CHAR});
    </insert>

    <insert id="saveOrUpdate" parameterType="cn.qianying.graduaction.domain.AnalizedMessage">
         insert into tb_analized_message(id,username,age,gender) values(#{id,jdbcType=CHAR},#{username,jdbcType=CHAR},#{age,jdbcType=CHAR},date_format(Now(),'%Y%m%d%H%i%s'))
         ON DUPLICATE KEY UPDATE
         username=#{username,jdbcType=CHAR},age=#{age,jdbcType=CHAR},gender=date_format(Now(),'%Y%m%d%H%i%s');
    </insert>

    <select id='getDetail' resultType='cn.qianying.graduaction.domain.AnalizedMessage' parameterType="java.lang.String">
        select userName,age,gender from tb_analized_message where id=#{id,jdbcType=VARCHAR};
    </select>-->

</mapper>