<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduaction.dao.mapper.StyleMapper">

    <resultMap id="typeVideRateCensusMap" type="cn.qianying.graduaction.vo.TypeVideoRateDistributeVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="videoCount" property="videoCount" jdbcType="INTEGER"/>
    </resultMap>

    <select id="typeVideRateCensus" resultMap="typeVideRateCensusMap" timeout="480">
        select t.biliBili_rid as typeId,t.styleName as typeName,(select count(v.bili_aid) from video v where v.biliBili_rid=t.biliBili_rid) as videoCount from style t GROUP BY t.biliBili_rid;
    </select>
</mapper>