<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduaction.dao.mapper.VideoAuthorMapper">
    <resultMap id="authorTypeDistruteCensusMap" type="cn.qianying.graduaction.vo.AuthorTypeDistributeVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="authorCount" property="authorCount" jdbcType="INTEGER"/>
        <result column="follower" property="follower" jdbcType="INTEGER"/>
        <result column="audienceCount" property="audienceCount" jdbcType="INTEGER"/>
        <result column="attentionCount" property="attentionCount" jdbcType="INTEGER"/>
        <result column="videoCount" property="videoCount" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="videoAuthorSexRateCensusMap" type="cn.qianying.graduaction.vo.VideoAuthorSexRateCensusVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="female" property="female" jdbcType="INTEGER"/>
        <result column="male" property="male" jdbcType="INTEGER"/>
        <result column="secret" property="secret" jdbcType="INTEGER"/>
    </resultMap>
    <select id="authorTypeDistruteCensus" resultMap="authorTypeDistruteCensusMap" timeout="600">
      select t.biliBili_rid as typeId,t.styleName as typeName,
(select count(a.biliBili_mid) from video_author a where a.type_id=t.biliBili_rid) as authorCount,
(select sum(a.follower) from video_author a where a.type_id=t.biliBili_rid) as follower,
(select sum(a.audienceCount) from video_author a where a.type_id=t.biliBili_rid) as audienceCount,
(select sum(a.attentionCount) from video_author a where a.type_id=t.biliBili_rid) as attentionCount,
(select count(v.bili_aid) from video v where v.biliBili_rid=t.biliBili_rid) as videoCount from style t
group by t.biliBili_rid;
    </select>

    <select id="videoAuthorSexRateCensus" resultMap="videoAuthorSexRateCensusMap">
    select t.biliBili_rid as typeId,t.styleName as typeName,
    (select count(e.biliBili_mid) from video_author e where e.sex='男' and e.type_id=t.biliBili_rid) as male,
    (select count(e.biliBili_mid) from video_author e where e.sex='保密' and e.type_id=t.biliBili_rid) as secret,
    (select count(e.biliBili_mid) from video_author e where e.sex='女' and e.type_id=t.biliBili_rid) as female from style t
    GROUP BY t.biliBili_rid;
    </select>
</mapper>