<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduaction.dao.mapper.VideoAuthorMapper">
    <!--<insert id="insertVideoAuthor" parameterType="cn.qianying.graduaction.domain.VideoAuthor"
        useGeneratedKeys="true" keyProperty="id">
        insert into
        tb_video_author(signature,video_count,attention_count,audience_count,author_page_url,author_pic,author_name)
        values(#{signature,jdbcType=TEXT},#{videoCount,jdbcType=INT},#{attentionCount,jdbcType=INT},#{audienceCount,jdbcType=INT},#{authorPageUrl,jdbcType=TEXT},#{authorPic,jdbcType=VARCHAR},#{authorName,jdbcType=VARCHAR})
    </insert>

    <select id="selectVideoAuthors" parameterType="java.lang.String"
        resultType="java.util.List">
        select * from tb_video_author where
        author_page_url=#{authorPageUrl}
    </select>-->
    <resultMap id="authorTypeDistruteCensusMap" type="cn.qianying.graduaction.vo.AuthorTypeDistributeVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="authorCount" property="authorCount" jdbcType="INTEGER"/>
        <!--<result column="follower" property="follower" jdbcType="INTEGER"/>
        <result column="audienceCount" property="audienceCount" jdbcType="INTEGER"/>
        <result column="attentionCount" property="attentionCount" jdbcType="INTEGER"/>
        <result column="videoCount" property="videoCount" jdbcType="INTEGER"/>-->
    </resultMap>
    <select id="authorTypeDistruteCensus" resultMap="authorTypeDistruteCensusMap">
      select t.biliBili_rid as typeId,t.styleName as typeName,count(a.biliBili_mid) as authorCount from video v
left join style t on t.biliBili_rid=v.biliBili_rid
left join video_author a on a.biliBili_mid=v.biliBili_mid
group by t.biliBili_rid;
    </select>
</mapper>