<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduaction.dao.mapper.VideoMapper">
    <!--<insert id="insertVideoAuthor" parameterType="cn.qianying.graduaction.domain.Video"
        useGeneratedKeys="true" keyProperty="id">
        insert into
        tb_video_author(signature,video_count,attention_count,audience_count,author_page_url,author_pic,author_name)
        values(#{signature,jdbcType=TEXT},#{videoCount,jdbcType=INT},#{attentionCount,jdbcType=INT},#{audienceCount,jdbcType=INT},#{authorPageUrl,jdbcType=TEXT},#{authorPic,jdbcType=VARCHAR},#{authorName,jdbcType=VARCHAR})
    </insert>

    <select id="selectVideoAuthors" parameterType="java.lang.String"
        resultType="java.util.List">
        select * from tb_video_author where
        author_page_url=#{authorPageUrl}
    </select>-->

    <resultMap id="videoMap" type="cn.qianying.graduaction.vo.VideoLikesCensusVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="likes" property="likes" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="videoCount" property="videoCount" jdbcType="INTEGER"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
        <result column="favorite" property="favorite" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="videoLenDistributeCensusMap" type="cn.qianying.graduaction.vo.VideoLenDistributeCensusVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="duration" property="duration" jdbcType="BIGINT"/>
        <result column="videoCount" property="videoCount" jdbcType="BIGINT"/>
        <result column="views" property="views" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="videoCommentsDistributeCensusMap" type="cn.qianying.graduaction.vo.VideoCommentsDistributeCensusVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
        <result column="comments" property="comments" jdbcType="INTEGER"/>
        <result column="reviews" property="reviews" jdbcType="INTEGER"/>
        <result column="videoCount" property="videoCount" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="videoIncomeDistributeCensusMap" type="cn.qianying.graduaction.vo.VideoIncomeDistributeCensusVo">
        <id column="typeId" property="typeId" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="coin" property="coin" jdbcType="INTEGER"/>
        <result column="share" property="share" jdbcType="INTEGER"/>
        <result column="videoCount" property="videoCount" jdbcType="BIGINT"/>
    </resultMap>

    <select id="videoLikeCensus" resultMap="videoMap">
        select count(v.bili_aid) as videoCount,sum(v.likes) as likes,t.biliBili_rid as typeId,t.styleName as type,sum(v.views) as views,sum(v.favorite) as favorite from video v left JOIN style t on v.biliBili_rid=t.biliBili_rid GROUP BY t.biliBili_rid;
    </select>

    <select id="videoLenDistributeCensus" resultMap="videoLenDistributeCensusMap">
      select t.biliBili_rid as typeId,t.styleName as typeName,sum(v.duration) as duration,count(v.bili_aid) as videoCount,sum(v.views) as views from video v left join style t on t.biliBili_rid=v.biliBili_rid GROUP BY t.biliBili_rid;
    </select>

    <select id="videoCommentsDistributeCensus" resultMap="videoCommentsDistributeCensusMap">
      select t.biliBili_rid as typeId,t.styleName as typeName,sum(v.masks) as mask,sum(v.comments) as comments,sum(v.review) as reviews,count(v.bili_aid) as videoCount from style t LEFT join video v on t.biliBili_rid=v.biliBili_rid GROUP BY t.biliBili_rid;
    </select>

    <select id="videoIncomeDistributeCensus" resultMap="videoIncomeDistributeCensusMap">
      SELECT t.biliBili_rid as typeId,t.styleName as typeName,sum(v.coin) as coin,sum(v.share) as share,count(v.bili_aid) as videoCount from video v left join style t on v.biliBili_rid=t.biliBili_rid GROUP BY t.biliBili_rid;
    </select>
</mapper>